:root {
                           /* COLOR VARS    */
    --BGC      : #000000;  /* background    */
    --FGC      : #ffffff;  /* foreground    */
    --BGClogo  : #222222;  /* background    */
    --FGClogo  : #ffffff;  /* foreground    */
    --FGCtitle : #ff4500;  /* #+TITLE:      */
    --FGCstart1: #4B99D2;  /* *             */
    --FGCstart2: #00ffff;  /* **            */
    --FGCstart3: #ffa074;  /* ***           */
    --FGCstart4: #98fb98;  /* ****          */
    --FGCstart5: #b0c4de;  /* *****         */
    --FGCstart6: #7fffd4;  /* ******        */
    --FGCstart7: #db2e24;  /* *******       */
    --FGCstart8: #ff4500;  /* ********      */
    --FGCtext  : #ffffff;
    --FGCemph  : #6fb336;  /* 4B99D2        */
    --FGCtcode : #bbbbff;  /* code          */
    --FGCbcode : #b3b3b3;  /* block code    */
    --FGCtkom  : #ffbbbb;  /* command       */
    --FGClink  : #00ffff;  /* link          */
    --BGClinkh : #556b2f;  /* link bg hover */
    --FGClinkh : #ffffff;  /* link fg hover */
    --BGCdt    : #b3b3b3;  /* dl bg dt      */
    --FGCdt    : #ffffff;  /* dl fg dt      */
    --FGCthead : #ff7f24;  /* table head    */
    --BGCthead : #000000;  /* table head    */
    --FGCtbody : #87cefa;  /* table body    */
}

@font-face { font-family: text;           src: local('sans-serif'          );                     }
@font-face { font-family: text_bold;      src: local('sans-serif'          ); font-style: bold;   }
@font-face { font-family: text_italic;    src: local('sans-serif'          ); font-style: italic; }
@font-face { font-family: text_verse;     src: local('sans-serif'          ); font-style: italic; }
@font-face { font-family: title;          src: local('cursive'             );                     }
@font-face { font-family: heatline;       src: local('cursive'             );                     }
@font-face { font-family: codetext;       src: url(fonts/DejaVuSansMono.ttf);                     }
@font-face { font-family: codeblock;      src: url(fonts/DejaVuSansMono.ttf);                     }
@font-face { font-family: description_dt; src: local('cursive'             );                     }
@font-face { font-family: description_dd; src: local('sans'                );                     }

html { background: var( --BGC ); color: var( --FGC );
       margin: 0; padding: 0;
       font-size: 1.3em;
       line-height: 1.5em;
     }

html body { margin: 1em 0em 1em 1em;
            font-size: 1.0em;
            font-family: text;
          }

html body main {font-size: 1.0em;
                font-family: text;
                box-sizing:border-box;
                padding: 1em;
                width: 70%;
                float: left;
               }

html body main div.thumb {font-size: 1.0em;
                font-family: text;
                box-sizing:border-box;
                padding: 2em;
                width: 50%;
                float: left;
               }

ul.meta { list-style: none; padding-left: 0.8em; margin: 0em; }
ul.meta li { line-height:1.5em;}

.taxonomies { color: green; }
ul.terms  { list-style: none; margin: 0em; }

.summary {
  max-height: 8.7rem;
  overflow: hidden;
}

div.thumb-sm {font-size: 0.7em;
                font-family: text;
             }


.thumb-sm header h2 { margin: 0em; padding: 0.3em 0em 0em 0em; }

html body aside {
    font-size: 1.0em;
    font-family: text;
    box-sizing:border-box;
    width: 30%;
    float: left;
}

html body footer {
    font-size: 0.7em;
    clear: both;
}


.footer-title { color: red; }

h1 { color: var( --FGCtitle  ); font-size:   3em; font-family: title   ; line-height: 1.1em; } /* TITLE    */
h2 { color: var( --FGCstart1 ); font-size: 1.6em; font-family: heatline; line-height: 1.1em; } /* *        */
h3 { color: var( --FGCstart2 ); font-size: 1.5em; font-family: heatline; line-height: 1.1em; } /* **       */
h4 { color: var( --FGCstart3 ); font-size: 1.4em; font-family: heatline; line-height: 1.1em; } /* ***      */
h5 { color: var( --FGCstart4 ); font-size: 1.3em; font-family: heatline; line-height: 1.1em; } /* ****     */
h6 { color: var( --FGCstart5 ); font-size: 1.2em; font-family: heatline; line-height: 1.1em; } /* *****    */
h7 { color: var( --FGCstart6 ); font-size: 1.1em; font-family: heatline; line-height: 1.1em; } /* ******   */
h8 { color: var( --FGCstart7 ); font-size: 1.1em; font-family: heatline; line-height: 1.1em; } /* *******  */
h9 { color: var( --FGCstart8 ); font-size: 1.1em; font-family: heatline; line-height: 1.1em; } /* ******** */

.path li { display: inline; list-style:none; padding: 0em 0.1em; margin:0em; }
.path li a { text-decoration: none; color: #87cefa; }
.path-pwd { color: yellow; }

code { background-color: #000; color: #b3b3b3; font-size: 1em;  font-family: codetext;
       /* border: 1px solid #DEDEDE; */ padding: 0px 0.2em; }

pre {
    background-color: #000; color: white;
    font-size: 100%; text-align: left; font-family: codeblock;
    box-sizing:border-box; padding: 1.0em; border: 0.05em solid #ddd;
    overflow: auto;
}

b { font-family: text_bold; }
i { font-family: text_italic; }

a { color: #00ffff; text-decoration: underline; }
a:hover { background-color: #556b2f; color: #ffffff; text-decoration: none; }

li { color: #fff; font-size: 1em;
     list-style-type: square; }
li b { font-weight: bold; }
li p { color: #fff; font-size: 1em; }

/* ############### DESCRIPTION */
dl { padding-bottom: 2em; }         /* body           */
dl dt { color: #daa520;             /* description dt */
                                  font-size: 1.2em; font-family: description_dt;
                                  margin-left: 0.6em; }
dd { color: #ffffff;             /* description dd */
                                  font-size: 1.0em; font-family: description_dd; font-style: bold;
                                  margin-left: 0.6em; }
img { border: none; max-width: 100%; }
img:hover { filter: none;
                           /*  filter: grayscale(50%);
                               filter: sepia(100%);
                               filter: blur(10px);
                               filter: brightness(0.5);
                               filter: contrast(200%);
                               filter: drop-shadow(16px 16px 10px black );
                               filter: hue-rotate(90deg);
                               filter: invert(100%);
                               filter: opacity(50%);
                               filter: saturate(200%); */ }
