  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := .UniqueID }}

  {{ range $comments }}
    {{ if eq .Name $entryId }}
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
<blockquote>
  <strong>{{ .name }}</strong> {{ dateFormat "02/01/2006" .date }}
  <cite>
    <p>{{ .body | markdownify }}</p>
  </cite>
</blockquote>
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>the beautiful is blue... and black</p>
  {{ end }}
